@font-face {
    font-family: "myfont";
    src: url("/static/font/Dubai-Regular.woff") format('woff');
}

body {
	font-family: 'Open Sans';
    overflow-x: hidden;
    /* padding-left: 300px; */
}

header, main {
    padding-left: 300px;
}

body {
    background-color: white;
}

main {
    margin: 14px;
}

@media only screen and (max-width: 992px) {
    body,
    header,
    main,
    footer {
        padding-left: 0;
    }
    .materialert {
        padding-left: 0;
        margin: 15px 15px 15px 15px !important;
    }
}

.responsive-table {
    padding-left: 10px !important;
}

#credits li,
#credits li a {
    color: white;
}

#credits li a {
    font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
    color: #BCC2E2;
}

.fab-tip {
    position: fixed;
    right: 85px;
    padding: 0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
}


.circle-text {
	display: table-cell;
	height: 200px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	background: #534072;
	color: #fff;
	font-size: 23px;
}

.acircle-text {
	display: table-cell;
	height: 100px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	background: #534072;
	color: #fff;
	font-size: 23px;
}

/* .active { 
	background: pink;
} */

.our-colour {
	background: #534072;
}

.hover-our-colour:hover {
	background: #534072;
}

#welcome_icons {
	padding: 70;
	text-align: center;
}

.content {
	display: inline-block;
	cursor: pointer;
}

.border {
	border: thin solid blue;
}

.modal {
	max-height: 120%;
	/*width: 70%;*/
}

.modal-bigger {
	width: 80%;
	height: 85% !important;
}

.modal-smaller {
	height: 61% !important;
}

.oval {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50px; /*50px vs. 50%*/
}

/* .materialert{
    position: relative;
    min-width: 150px;
    padding: 15px;
    margin: 15px 15px 15px 315px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
} */
.materialert{
    position: fixed;
    bottom: 0;
    right: 0;
    /* min-width: 150px; */
    width: 280px;
    word-wrap: break-word;
    word-break: break-all;
    padding: 15px;
    margin: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: auto;
    transition: all 0.1s linear;
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
/*     display: flex; */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.materialert .material-icons{
    margin-right: 10px;
}
.materialert .close-alert{
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    filter: alpha(opacity=40);
    margin-bottom: -5px;
    position: absolute;
    top: 16px;
    right: 5px;
}

.materialert.info{
    background-color: #039be5;
    color: #fff;
}
.materialert.success{
    background-color: #43a047;
    color: #fff;
}
.materialert.error{
    background-color: #c62828;
    color: #fff;
}
.materialert.danger{
    background-color: #c62828;
    color: #fff;
}
.materialert.warning{
    background-color: #fbc02d;
    color: #fff;
}


/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]::placeholder {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

hr {
    border: 0.2px solid #dce0e3;
    height: 0px;
}

.timeline {
    position: relative;
}
  
.timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
    position: relative;
    width: calc(50% - 50px);
}

.timeline .timeline-event::before {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: 0;
}

.timeline .timeline-event::after {
    display: block;
    content: "";
    width: 2px;
    height: calc(50% - 30px);
    position: absolute;
    background: #d2d2d2;
    left: calc(50% - 1px);
    top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
    display: none;
}

.timeline .timeline-event:last-child::after {
    display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
}

.timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
}

.timeline .timeline-badge i {
    font-size: 25px;
    line-height: 40px;
}

@media (max-width: 600px) {
    .timeline .timeline-event .timeline-content {
      width: calc(100% - 70px);
    }
    .timeline .timeline-event::before {
      left: 19px;
    }
    .timeline .timeline-event::after {
      left: 19px;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
      margin-left: 70px;
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
      margin-left: 70px;
    }
    .timeline .timeline-badge {
      left: 0;
    }
}

.card-reveal p {
    word-wrap: break-word;
}

.dropdown-content{
    width: max-content !important;
    height:auto !important;
}

.material-icons{
    font-size: 21px;
    display: inline-flex;
    vertical-align: top;
}

thead {
    background-color: lavender;
}

/* .input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
} */

/* #panell{
    margin-top: 100px;
    padding: 0px;
  }
  #loginbtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  #title{
    background-color: #2bbbad;
    color: white;
    padding: 8px;
    margin-top: 0px
  }
  form{
    padding:0px;
    border-radius: 3px;
    box-sizing: border-box;
  }
  #username,#password{
   margin-left: 20px;
   margin-right: 20px;
  }
  #checkbox{
   margin-left: 30px;
  } */