data_archive/
system-genesis-block/
channel-artifacts/
application/server/org1-wallet/
application/server/org2-wallet/
application/server/node_modules/
contract/node_modules/
organizations/ordererOrganizations/
organizations/peerOrganizations/
organizations/fabric-ca/
.vscode/
bin/
application/client/venv/
application/client/application/static/qr-codes/
**/__pycache__/
**/.DS_Store
**/.bin
application/client/application/site.db
**.id
**.tar.gz
