data_archive/
system-genesis-block/
channel-artifacts/
application/server/org1-wallet/
application/server/org2-wallet/
application/server/node_modules/
.vscode/
bin/
application/client/venv/
**/__pycache__/
**/.DS_Store
**/.bin
farm_2.tar.gz
