{% extends 'base.html' %}
{% block content %}
      <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>ID</th>
              <th>Age</th>
              <th>Vaccination</th>
              <th>Stage</th>
              <th>Trace</th>
              <th>Update</th>
              <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for arr in transactions['data'] %}
          <tr>
            <td style="text-transform:uppercase;"><a href="{{ url_for('edit', cage_id=arr['key'])}}" title="Edit">{{ arr['key'] }}</a></td>
            <!-- <td><a href="{{ url_for('changeage', cage_id=arr['key'])}}">{{ arr['data']['age'] }}</a></td> -->
            <td>{{ arr['data']['age'] }}</td>
            <td>{{ arr['data']['vaccination'] }}</td>
            <td>{{ arr['data']['step'] }}</td>
            <td><a href="{{ url_for('history', cage_id=arr['key'])}}" title="See history"><i class="material-icons md-30">&nbsp;track_changes</i></a></td>
            <td><a href="{{ url_for('processing_plant', cage_id=arr['key'])}}" title="Update"><i class="material-icons md-30">&nbsp;autorenew</i></a></td>
            <td><a href="{{ url_for('delete', cage_id=arr['key'])}}" title="Delete"><i class="material-icons md-30">&nbsp;delete</i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- END TABLE -->
    <!-- </div> -->

    <br />
    <ul class="pagination col center-align">
      {% if bookmark != 0 %}
        <li class="waves-effect">
          <a href="javascript:history.go(-1)"">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      {% if transactions['meta_data']['fetchedRecordsCount'] >= 10 %}
        <li class="waves-effect">
          <a href="{{ url_for('allcages', bookmark=transactions['meta_data']['bookmark']) }}">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
    <a class="waves-effect our-colour waves-light btn" href="{{ url_for('create_cage') }}"><i class="material-icons left">add_circle</i>Add cage</a>
    
{% endblock %}

