{% extends 'base.html' %}
{% block content %}
  <div class="create">
    <!-- START FORM -->
      <div class="row">
        <form class="col s12" action="{{ url_for('grower.create_asset') }}" method="POST">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Product serial number" name="product_serial" type="text" >
              </div>
              </div>
              <div class="row">
              <div class="input-field col s6">
                <input placeholder="Quantity" name="quantity" type="number" >
              </div>
              </div>
              <div class="row">
              <div class="input-field col s6">
                <input placeholder="Message" name="message" type="text" >
              </div>
              <!-- <div class="switch col">
                  <label>
                    False
                    <input type="checkbox" name="vaccination">
                    <span class="lever"></span>
                    True
                  </label>
                </div> -->
              </div>
            </div>
            <input class="waves-light btn our-colour" type="submit" value="Submit" name="">
            <!-- <input  onclick="location.href='/changeOwner/wholesaler';" class="waves-light btn our-colour" type="button" value="Transfer Ownership" style="color: white;"  name=""> -->
        </form>
      </div>
    <!-- END FORM -->
  </div>
{% endblock %}