{% extends 'base.html' %}
{% block content %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        $(document).ready(function() {
            M.updateTextFields();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <div class="create" style="padding: 10px">
    <!-- START FORM -->
      <!-- <div class="row"> -->
        <form class="col s12" action="{{ url_for('processing.record_medicine', asset_id=asset_id) }}" method="POST">
            {{ form.hidden_tag() }}
            <!-- <div class="row"> -->
              <div class="input-field col s6">
                {% if form.medicine.errors %}
                  {{ form.medicine(placeholder="medicine") }}
                  <div class="invalid-feedback">
                      {% for error in form.product_serial.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{ form.medicine() }}
                {% endif %}
              </div>
              <!-- </div> -->
            <!-- </div> -->
            {{ form.submit(class="btn btn-outline-info") }}
        </form>
      </div>
    <!-- END FORM -->
  </div>
{% endblock %}