{% extends 'base.html' %}
{% block content %}
  <div class="create">
    <div class="row" style="padding-top: 20px;">
    {% if flag == 'CR' %}
      <form class="col s12" action="{{ url_for('processing.processing_start', asset_id=asset_id) }}" method="POST">
    {% else %}
      <form class="col s12" action="{{ url_for('delivery.delivery_start', asset_id=asset_id) }}" method="POST">
    {% endif %}
      <div class="row">
        <div class="input-field col s12">
            <!-- <i class="material-icons prefix">play_arrow</i> -->
            <input id="icon_prefix2" name="plate_number" value="" type="text" class="validate">
            <label for="icon_prefix2">Plate number</label>
        </div>
        <!-- <div class="input-field col s12">
            <input id="icon_prefix2" name="quantity" value="" type="text" class="validate">
            <label for="icon_prefix2">Product serial</label>
        </div> -->
        <div class="input-field col s12">
            <!-- <i class="material-icons prefix">play_arrow</i> -->
            <input id="icon_prefix2" name="message" value="" type="text" class="validate">
            <label for="icon_prefix2">Message</label>
        </div>
    </div>
    <input class="waves-light btn our-colour" type="submit" value="Proceed" name="">
      </form>
    </div>
  </div>
{% endblock %}
