{% extends 'base.html' %}
{% block content %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <div class="create">
        <div class="row" style="padding-top: 20px;">
        <form class="col s12" action="{{ url_for('asset.edit', asset_id=asset_id) }}" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <!-- <i class="material-icons prefix">play_arrow</i> -->
                    <input id="icon_prefix2" name="quantity" value="{{ transactions['quantity'] }}" type="number" class="validate">
                    <label for="icon_prefix2">Quantity</label>
                </div>
                <div class="input-field col s12">
                    <!-- <i class="material-icons prefix">play_arrow</i> -->
                    <input id="icon_prefix2" name="product_serial" value="{{ transactions['product_serial'] }}" type="text" class="validate">
                    <label for="icon_prefix2">Product serial</label>
                </div>
                <div class="input-field col s12">
                    <!-- <i class="material-icons prefix">play_arrow</i> -->
                    <input id="icon_prefix2" name="message" value="{{ transactions['message'] }}" type="text" class="validate">
                    <label for="icon_prefix2">Message</label>
                </div>
            </div>
                    <!-- <p>
                        <label>
                            {% if transactions['vaccination'] %}
                                <input name="vaccination" value="true" type="radio" checked />
                            {% else %}
                                <input name="vaccination" value="true" type="radio" />
                            {% endif %}
                                <span>Injected</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            {% if transactions['vaccination'] %}
                                <input name="vaccination" value="false" type="radio"  />
                            {% else %}
                                <input name="vaccination" value="false" type="radio" checked/>
                            {% endif %}
                            <span>Not-injected</span>
                        </label>
                    </p> -->
            <!-- <div class="row">
                <div class="input-field col s12">
                    <select name="step">
                        <option value="" disabled selected>Choose one of then</option>
                        <option value="1">RECEIVED</option>
                        <option value="2">IN_PREPERATION</option>
                        <option value="3">PACKAGING</option>
                        <option value="4">SHIPPED</option>
                        <option value="5">FINISHED</option>
                        </select>
                    <label>Stage</label>
                </div>
            </div> -->
            <input class="waves-light btn our-colour" type="submit" value="Update" name="">
        </form>

        </div>
    </div>
{% endblock %}
