{% extends 'base.html' %}
{% block content %}
{% set flag = transactions[0]['data']['flag'] %}
<div class="content0">
	<div class="content3">
    <div class="shipment">
			{% if flag == 'PR' %}
        <div class="confirm">
          <div class="imgcircle" style="background-color:#98D091">
            <img src="{{ url_for('static', filename='image/confirm.png') }}" alt="confirm order">
          </div>
          <span class="line" style="background-color: #98D091;"></span>
          <p>Growing house</p>
        </div>
      {% else %}
        <div class="confirm">
          <div class="imgcircle">
            <img src="{{ url_for('static', filename='image/confirm.png') }}" alt="confirm order">
          </div>
          <span class="line"></span>
          <p>Growing house</p>
        </div>
      {% endif %}
      
      {% if flag == 'CR' %}
        <div class="process">
          <div class="imgcircle" style="background-color:#98D091">
            <img src="{{ url_for('static', filename='image/process.png') }}" alt="process order">
          </div>
          <span class="line" style="background-color: #98D091;"></span>
          <p>Process order</p>
        </div>
      {% else %}
        <div class="process">
          <div class="imgcircle">
            <img src="{{ url_for('static', filename='image/process.png') }}" alt="process order">
          </div>
          <span class="line"></span>
          <p>Process order</p>
        </div>
      {% endif %}
      
      <!-- {% if flag == 'SR' %}
        <div class="quality">
          <div class="imgcircle" style="background-color:#98D091">
            <img src="{{ url_for('static', filename='image/quality.png') }}" alt="quality check">
          </div>
          <span class="line" style="background-color: #98D091;"></span>
          <p>Quality Check</p>
        </div>
      {% else %}
        <div class="quality">
          <div class="imgcircle">
            <img src="{{ url_for('static', filename='image/quality.png') }}" alt="quality check">
          </div>
          <span class="line"></span>
          <p>Quality Check</p>
        </div>
      {% endif %}

      {% if flag == 'AX' %}
        <div class="dispatch">
          <div class="imgcircle" style="background-color:#98D091">
            <img src="{{ url_for('static', filename='image/dispatch.png') }}" alt="dispatch product">
          </div>
          <span class="line" style="background-color: #98D091;"></span>
          <p>Dispatched Item</p>
        </div>
      {% else %}
        <div class="dispatch">
          <div class="imgcircle">
            <img src="{{ url_for('static', filename='image/dispatch.png') }}" alt="dispatch product">
          </div>
          <span class="line"></span>
          <p>Dispatched Item</p>
        </div>
      {% endif %} -->

			{% if flag == 'SR' %}
        <div class="delivery">
          <div class="imgcircle" style="background-color: #98D091;">
            <img src="{{ url_for('static', filename='image/delivery.png') }}" alt="delivery">
          </div>
          <p>Product Delivered</p>
        </div>
      {% else %}
        <div class="delivery">
          <div class="imgcircle">
            <img src="{{ url_for('static', filename='image/delivery.png') }}" alt="delivery">
          </div>
          <p>Product Delivered</p>
        </div>
      {% endif %}
  
		</div>
  </div>

</div>  
  <div class="container">
    <div class="timeline">
      {% set color = ['blue', 'red', 'green', 'brown', 'orange', 'purple', 'blue', 'red', 'green', 'brown', 'black', 'orange', 'purple', 'yellow'] %}
      {% set img = ['cached', 'refresh', 'restore', 'show_chart', 'sync'] %}
      {% for arr in transactions|reverse %}
        <div class="timeline-event">
          <div class="card timeline-content">
            <!-- <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" style="width: 150px; height: 150px;" src="{{ url_for('static', filename='image/duck.jpg') }}">
            </div> -->
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">
              {{ myTimeFunc(arr['timestamp']['seconds']|int) }}
              <i class="material-icons right">more_vert</i></span>
              <p>Quantity: <b>{{ arr['data']['quantity'] }}</b></p>
              <p>Flag: <b>{{ arr['data']['flag'] }}</b></p>
              <p>Product serial: <b>{{ arr['data']['product_serial'] }}</b></p>
              {% if arr['data']['cultivator'] %}
                <p>Status: <b>{{ arr['data']['cultivator']['status'] }}</b></p>
                {% if arr['data']['cultivator']['info'] %}
                  <p>Inspected: <b>{{ arr['data']['processing_plant']['inspected'] }}</b></p>
                {% endif %}
                {% if arr['data']['cultivator']['deliverer'] %}
                  <p>Deliverer: <b>{{ arr['data']['processing_plant']['deliverer'] }}</b></p>
                {% endif %}
              {% endif %}
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Transaction ID<i class="material-icons right">close</i></span>
              <p>{{ arr['tx_id'] }}</p>
            </div>
          </div>
          <div class="timeline-badge grey white-text"><i class="material-icons">restore</i></div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
