{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col s6">
        <div style="padding: 20px 35px 10px 35px;"  class="card center">
          <div class="row" style="border-bottom: 0px solid #d8d3d3; padding-bottom: 5px;">
            <div class="left card-title">
              <b>Grower farm</b>
            </div>
          </div>

          <div class="row text-centered">
            <a href="{{ url_for('allcages') }}">
              <div class="col s6" style="border-right: 1px solid #d8d3d3;">
                <i class="indigo-text medium material-icons">person</i><br />
                <span class="indigo-text "><b>Current state</b></span>
              </div>
            </a>
            <!-- <div class="col s1">&nbsp;</div>
            <div class="col s1">&nbsp;</div> -->

            <a href="{{ url_for('injection') }}">
              <div class="col s6">
                <i class="indigo-text medium material-icons">people</i><br />
                <span class="indigo-text "><b>Monitor</b></span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div style="padding: 20px 35px 10px 35px;" class="card center">
          <div class="row" style="border-bottom: 0px solid #d8d3d3; padding-bottom: 5px;">
            <div class="left card-title">
              <b>Processing plant</b>
            </div>
          </div>
          <div class="row">
            <a href="{{ url_for('processing_getall') }}">
              <div class="col s6" style="border-right: 1px solid #d8d3d3;">
                <i class="indigo-text medium material-icons">insert_chart</i><br />
                <span class="indigo-text "><b>Current state</b></span>
              </div>
            </a>

            <a href="{{ url_for('processing_finished') }}">
              <div class="col s6">
                <i class="indigo-text medium material-icons">check_box</i><br />
                <span class="indigo-text "><b>Finished products</b></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s6">
        <div style="padding: 20px 35px 10px 35px;"  class="card center">
          <div class="row" style="border-bottom: 0px solid #d8d3d3; padding-bottom: 5px;">
            <div class="left card-title">
              <b>Product management</b>
            </div>
          </div>

          <div class="row">
            <a href="{{ url_for('create_cage') }}">
              <div class="col s6" style="border-right: 1px solid #d8d3d3;">
                <i class="indigo-text medium material-icons">note_add</i><br />
                <span class="indigo-text "><b>Create cage</b></span>
              </div>
            </a>

            <a href="{{ url_for('search') }}">
              <div class="col s6">
                <i class="indigo-text medium material-icons">find_in_page</i><br />
                <span class="indigo-text "><b>Search</b></span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div style="padding: 20px 35px 10px 35px;"  class="card center">
          <div class="row" style="border-bottom: 0px solid #d8d3d3; padding-bottom: 5px;">
            <div class="left card-title">
              <b>Category Management</b>
            </div>
          </div>
          <div class="row">
            <a href="#!">
              <div class="col s6" style="border-right: 1px solid #d8d3d3;">
                <i class="indigo-text medium material-icons">view_list</i><br />
                <span class="indigo-text "><b>Category</b></span>
              </div>
            </a>
            <a href="#!">
              <div class="col s6">
                <!-- grey lighten-3 col s6 waves-effect waves-light -->
                <i class="indigo-text medium material-icons">view_list</i><br />
                <span class="truncate indigo-text tex t-lighten-1"><b>Sub Category</b></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large pink waves-effect waves-light waves-light">
        <i class="large material-icons">add</i>
      </a>

      <ul>
        <li>
          <a class="btn-floating red"><i class="material-icons">note_add</i></a>
          <a href="" class="btn-floating fab-tip">Add a note</a>
        </li>

        <li>
          <a class="btn-floating yellow darken-1"><i class="material-icons">add_a_photo</i></a>
          <a href="" class="btn-floating fab-tip">Add a photo</a>
        </li>

        <li>
          <a class="btn-floating green"><i class="material-icons">alarm_add</i></a>
          <a href="" class="btn-floating fab-tip">Add an alarm</a>
        </li>

        <li>
          <a class="btn-floating blue"><i class="material-icons">vpn_key</i></a>
          <a href="" class="btn-floating fab-tip">Add a master password</a>
        </li>
      </ul>
    </div> -->
{% endblock %}
