{% extends 'base.html' %}
{% block content %}
  <div class="transactions">
    <!-- START TABLE -->
    <table class="highlight centered responsive-table">
      <thead>
        <tr>
            <th>ID</th>
            <th>Age</th>
            <th>Vaccination</th>
            <th>Inject</th>
            <th>Update age</th>
            <!-- <th>Delete</th> -->
        </tr>
      </thead>
      <tbody>
        {% for arr in transactions['data'] %}
        <tr>
          <td style="text-transform:uppercase;">{{ arr['key'] }}</td>
          <td>{{ arr['data']['age'] }}</td>
          <td>{{ arr['data']['vaccination'] }}</td>
          <td><a href="{{ url_for('inject', cage_id=arr['key']) }}" title="Inject"><i class="material-icons md-30">&nbsp;colorize</i></a></td>
          <td><a href="{{ url_for('changeage', cage_id=arr['key'], new_age=arr['data']['age']|int + 1) }}" title="Update"><i class="material-icons md-30">&nbsp;autorenew</i></a></td>
          <!-- <td><a href="{{ url_for('delete', cage_id=arr['key'])}}" title="Delete"><i class="material-icons md-30">&nbsp;delete</i></a></td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- END TABLE -->
  </div>

  <br />
    <ul class="pagination col center-align">
      {% if bookmark != 0 %}
        <li class="waves-effect">
          <a href="javascript:history.go(-1)">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      {% if transactions['meta_data']['fetchedRecordsCount'] >= 10 %}
        <li class="waves-effect">
          <a href="{{ url_for('injection', bookmark=transactions['meta_data']['bookmark']) }}">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
{% endblock %}

