{% extends 'base.html' %}
{% block content %}
  <div class="transactions">
    <!-- START TABLE -->
    <table class="highlight responsive-table">
      <thead>
        <tr>
            <th>ID</th>
            <th>Deliverer</th>
            <th>Inspection</th>
            <th>Stage</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for arr in transactions['data'] %}
        <tr>
          <td style="text-transform:uppercase;">{{ arr['key'] }}</td>
          <td>{{ arr['data']['processing_plant']['deliverer'] }}</td>
          <td>{{ arr['data']['processing_plant']['inspected'] }}</td>
          <td>{{ arr['data']['processing_plant']['status'] }}</td>
          <td><a href="{{ url_for('delete', cage_id=arr['key']) }}" title="Delete"><i class="material-icons md-30">&nbsp;delete</i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- END TABLE -->
  </div>

  <br />
    <ul class="pagination col center-align">
      {% if previous != None %}
        <li class="waves-effect">
          <a href="{{ url_for('processing_finished', bookmark=previous) }}">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      <!-- <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li> -->
      {% if transactions['meta_data']['fetchedRecordsCount'] >= 10 %}
        <li class="waves-effect">
          <a href="{{ url_for('processing_finished', bookmark=transactions['meta_data']['bookmark']) }}">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
{% endblock %}

