{% extends 'base.html' %}
{% block content %}
  <div class="transactions">
    <!-- START TABLE -->
    <table class="highlight centered responsive-table">
      <thead>
        <tr>
          {% if finished %}
            <th>ID</th>
            <th>Deliverer</th>
            <th>Inspection</th>
            <th>Stage</th>
            <th>Start Delivery</th>
          {% else %}
            <th>ID</th>
            <th>Status</th>
            <th>Confirm</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for arr in transactions['data'] %}
        <tr>
          <td style="text-transform:uppercase;">
            <a href="{{ url_for('history', asset_id=arr['key'])}}" title="See history">{{ arr['key'] }}</a>
            </td>
          {% if finished %}
            <td>{{ arr['data']['processing_plant']['deliverer'] }}</td>
            <td>{{ arr['data']['processing_plant']['inspected'] }}</td>
            <td>{{ arr['data']['processing_plant']['status'] }}</td>
            <td><a href="{{ url_for('processing_start', asset_id=arr['key']) }}" title="Confirm"><i class="material-icons md-30">&nbsp;start</i></a></td>
          {% else %}
            <td>{{ arr['data']['processing_plant']['status'] }}</td>
            <td><a href="{{ url_for('processing_start', asset_id=arr['key']) }}" title="Confirm"><i class="material-icons md-30">&nbsp;check_box</i></a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- END TABLE -->
  </div>

  <br />
    <ul class="pagination col center-align">
      {% if bookmark != 0 %}
        <li class="waves-effect">
          <a href="javascript:history.go(-1)">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      <!-- <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li> -->
      {% if transactions['meta_data']['fetchedRecordsCount'] >= 10 %}
        <li class="waves-effect">
          <a href="{{ url_for('processing_finished', bookmark=transactions['meta_data']['bookmark']) }}">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
{% endblock %}

