{% extends 'base.html' %}
{% block content %}
  <div class="transactions">
    <!-- START TABLE -->
    <table class="highlight responsive-table">
      <thead>
        <tr>
            <th>ID</th>
            <th>Age</th>
            <th>Vaccination</th>
            <th>Stage</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for arr in transactions['data'] %}
        <tr>
          <td style="text-transform:uppercase;">{{ arr['key'] }}</td>
          <td>{{ arr['data']['age'] }}</td>
          <td>{{ arr['data']['vaccination'] }}</td>
          <td>{{ arr['data']['processing_plant']['status'] }}</td>
          <td><a href="{{ url_for('processing_plant', cage_id=arr['key']) }}" title="Update"><i class="material-icons md-30">&nbsp;autorenew</i></a></td>
          <td><a href="{{ url_for('delete', cage_id=arr['key']) }}" title="Delete"><i class="material-icons md-30">&nbsp;delete</i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- END TABLE -->
  </div>

  <br />
    <ul class="pagination col center-align">
      {% if bookmark != 0 %}
        <li class="waves-effect">
          <a href="javascript:history.go(-1)">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      {% if transactions['meta_data']['fetchedRecordsCount'] >= 10 %}
        <li class="waves-effect">
          <a href="{{ url_for('processing_getall', bookmark=transactions['meta_data']['bookmark']) }}">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
{% endblock %}

