{% extends 'base.html' %}
{% block content %}
    <div class="create" style="padding: 10px">
        <div class="row center">
            <img class="circle responsive-img" src="{{ image_file }}" width="128px" height="128px">
            <div class="media-body">
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{ user.first_name }}" id="disabled" type="text" class="validate">
                <label for="disabled">First name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{ user.last_name }}" id="disabled" type="text" class="validate">
                <label for="disabled">Last name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{ user.location }}" id="disabled" type="text" class="validate">
                <label for="disabled">Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{ user.phone }}" id="disabled" type="text" class="validate">
                <label for="disabled">Contact</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{ user.orgname }}" id="disabled" type="text" class="validate">
                <label for="disabled">Organization</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="{{ user.date_registred }}" id="disabled" type="text" class="validate">
                <label for="disabled">Joined at</label>
            </div>
        </div>
        {% if user.email == current_user.email%}
            <div class="row">
                <a class="waves-effect waves-light btn" href="{{ url_for('users.update_profile') }}">Update info</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}