{% include 'header.html' %}
{% block content %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        $(document).ready(function() {
            M.updateTextFields();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <div style="max-width: 550px; position: relative; top: 50%; left: 50%; -moz-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);">
        <div class="card">
            <div class="our-colour white-text center-align" style="padding: 5px;">
                <h5>Registration form</h5>
            </div>
            <div class="row">
                <form class="col s12" action="{{ url_for('register') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="input-field col s12">
                    <!-- {{ form.email.label() }} -->
                    {% if form.email.errors %}
                        {{ form.email(placeholder="Email") }}
                        <div class="ivalid-feedback">
                            {% for error in form.email.errors %}
                                <span style="color:red">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(placeholder="Email") }}
                    {% endif %}
                </div>
                <div class="input-field col s12">
                    <!-- {{ form.orgname.label(class="col s12") }} -->
                    {% if form.orgname.errors %}
                        <!-- {{ form.orgname(class="input-field col s12") }} -->
                        <div class="ivalid-feedback">
                            {% for error in form.orgname.errors %}
                                <span style="color:red">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.orgname() }}
                    {% endif %}
                </div>
                <div class="input-field col s12">
                    <!-- {{ form.password.label() }} -->
                    {% if form.password.errors %}
                        {{ form.password(placeholder="Password") }}
                        <div class="ivalid-feedback">
                            {% for error in form.password.errors %}
                                <span style="color:red">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(placeholder="Password") }}
                    {% endif %}
                </div>
                <div class="input-field col s12">
                    <!-- {{ form.confirm_password.label() }} -->
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(placeholder="Confirm password") }}
                        <div class="ivalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span style="color:red">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(placeholder="Confirm password") }}
                    {% endif %}
                </div>
                <div class="input-field col s12">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
            <div style="padding:0px 5px 15px 10px; margin-left:15px; font-size:16px;">Do you have an account? <a href="{{ url_for('login') }}">Yes, login</a></div>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="alter-box" class="materialert {{ category }}" style="margin: 10px !important;">
                    <i class="material-icons">check</i> {{ message }}
                    <!-- info_outline, check, warning, error_outline -->
                    <button type="button" id="close-alert" class="close-alert">×</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
