{% extends 'base.html' %}
{% block content %}
  <script>
    $(document).ready(function(){
        $('select').formSelect();
    });
    $(document).ready(function() {
        M.updateTextFields();
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <div class="create" style="padding: 10px;">
      <div class="row">
        <form class="col s12" action="{{ url_for('asset.search') }}" method="POST">
          {{ form.hidden_tag() }}
          <div class="row">
            <!-- <div class="input-field col s6"> -->
            {% if form.flag.errors %}
              {{ form.flag(placeholder="Flag") }}
              <div class="invalid-feedback">
                  {% for error in form.flag.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
                {{ form.flag() }}
            {% endif %}
            <!-- </div> -->
          </div>
          <div class="row">
            <!-- <i class="material-icons prefix">play_arrow</i> -->
            {% if form.product_serial.errors %}
              {{ form.product_serial(placeholder="Product serial") }}
              <div class="invalid-feedback">
                {% for error in form.product_serial.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.product_serial(placeholder="Product serial") }}
            {% endif %}
          </div>
          <div class="row">{{ form.submit(class="btn btn-outline-info") }}</div>
        </form>
      </div>
  </div>
{% endblock %}