{% include 'header.html' %}
{% block content %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        $(document).ready(function() {
            M.updateTextFields();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <div style="max-width: 550px; position: relative; top: 50%; left: 50%; -moz-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);">
        <div class="card">

            <div class="our-colour white-text center-align" style="padding: 5px;">
                <h5>Login form</h5>
            </div>
            
            <div class="row">
                <form class="col s12" action="{{ url_for('signin') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="input-field col s12">
                        <!-- {{ form.username.label(class="form-control-label") }} -->
                        {% if form.username.errors %}
                            {{ form.username(placeholder="Username") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(placeholder="Username") }}
                        {% endif %}
                    </div>
                    <div class="input-field col s12">
                        <!-- {{ form.password.label(class="form-control-label") }} -->
                        {% if form.password.errors %}
                            {{ form.password(placeholder="Password") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(placeholder="Password") }}
                        {% endif %}
                    </div>
                    <!-- <div class="input-field col s12">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div> -->
                    <div class="input-field col s12">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
                <div style="padding:0px 5px 15px 10px; margin-left:15px; font-size:16px;">Don't you have an account? <a href="{{ url_for('signup') }}">Register now</a></div>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div id="alter-box" class="materialert {{ category }}" style="margin: 5px !important;">
                    <i class="material-icons">check</i> {{ message }}
                    <!-- info_outline, check, warning, error_outline -->
                    <button type="button" id="close-alert" class="close-alert">×</button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <script type="text/javascript">
        $('#close-alert').click(function(){
            $( "#alter-box" ).fadeOut( "slow", function() {
          });
        });
    </script>

    <script type="text/javascript">
    $(function() {
        $('.sidenav').sidenav();
    })
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('.button-collapse').sidenav();
        $('.collapsible').collapsible();
        $('select').material_select();
    });
    </script>

{% endblock %}