{% extends 'base.html' %}
{% block content %}
  <div class="transactions">
    <!-- START TABLE -->
    <table class="highlight centered responsive-table">
        {% if page == 'finished' %}
          <thead>
            <tr>
              <th>ID</th>
              <th>Deliverer</th>
              <th>Address</th>
              <th>Status</th>
              <th>Employee</th>
              <th>QR code</th>
            </tr>
          </thead>
          <tbody>
            {% for arr in transactions['data'] %}
            <tr>
              <td style="text-transform:uppercase;">
                <a class="waves-effect waves-light btn" href="{{ url_for('asset.history', asset_id=arr['key'])}}" title="See history">{{ arr['key'] }}</a>
              </td>
              <td>{{ arr['data']['supplier']['delivery']['deliverer'] }}</td>
              <td>{{ arr['data']['supplier']['delivery']['message'] }}</td>
              <td>{{ arr['data']['supplier']['status'] }}</td>
              <td>
                <a class="waves-effect" href="{{ url_for('users.profile', email=arr['data']['supplier']['delivery']['employee'])}}" title="See profile"><i class="material-icons md-30">&nbsp;person</i></a>
              </td>
              <td><a href="{{ url_for('supplier.generate_qr', asset_id=arr['key']) }}" title="QR code generator"><i class="material-icons md-30">&nbsp;add</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        {% elif page == 'confirmation' %}
          <thead>
            <tr>
              <th>ID</th>
              <th>Status</th>
              <th>Confirm</th>
            </tr>
          </thead>
          <tbody>
            {% for arr in transactions['data'] %}
            <tr>
              <td style="text-transform:uppercase;">
                <a class="waves-effect waves-light btn" href="{{ url_for('asset.history', asset_id=arr['key'])}}" title="See history">{{ arr['key'] }}</a>
              </td>
              <!-- <td>
                <a href="{{ url_for('supplier.request', asset_id=arr['key']) }}" title="Confirm"><i class="material-icons md-30">&nbsp;next_plan</i></a>
              </td> -->
              <td>{{ arr['data']['supplier']['status'] }}</td>
              <td>
                <a href="{{ url_for('supplier.start', asset_id=arr['key']) }}" title="Confirm"><i class="material-icons md-30">&nbsp;check_box</i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        {% else %}
          <thead>
            <tr>
              <th>ID</th>
              <th>Quantity</th>
              <th>Deliverer</th>
              <th>Message</th>
              <th>Employee</th>
              <th>QR code</th>
              <th>Update</th>
          </tr>
          </thead>
          <tbody>
            {% for arr in transactions['data'] %}
            <tr>
              <td style="text-transform:uppercase;">
                <a class="waves-effect waves-light btn" href="{{ url_for('asset.history', asset_id=arr['key'])}}" title="See history">{{ arr['key'] }}</a>
              </td>
              <td>{{ arr['data']['quantity'] }}</td>
              <td>
                {% if arr['data']['supplier']['delivery']['deliverer'] is defined %}
                  {{ arr['data']['supplier']['delivery']['deliverer'] }}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% if arr['data']['supplier']['delivery']['message'] is defined %}
                  {{ arr['data']['supplier']['delivery']['message'] }}
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                <a class="waves-effect" href="{{ url_for('users.profile', email=arr['data']['supplier']['delivery']['employee'])}}" title="See profile"><i class="material-icons md-30">&nbsp;person</i></a>
              </td>
            
              <td><a href="{{ url_for('supplier.generate_qr', asset_id=arr['key']) }}" title="QR code generator"><i class="material-icons md-30">&nbsp;add</i></a></td>
              <td><a href="{{ url_for('supplier.finish', asset_id=arr['key']) }}" title="Finish"><i class="material-icons md-30">&nbsp;stop</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        {% endif %}
    </table>
    <!-- END TABLE -->
  </div>

  <br />
    <ul class="pagination col center-align">
      {% if bookmark != 0 %}
        <li class="waves-effect">
          <a href="javascript:history.go(-1)">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      {% if transactions['meta_data']['fetchedRecordsCount'] >= 10 %}
        <li class="waves-effect">
          {% if page == 'finished' %}
            <a href="{{ url_for('supplier.finished', bookmark=transactions['meta_data']['bookmark']) }}">
              <i class="material-icons">chevron_right</i>
            </a>
          {% elif page == 'confirmation' %}
            <a href="{{ url_for('supplier.confirmation', bookmark=transactions['meta_data']['bookmark']) }}">
              <i class="material-icons">chevron_right</i>
            </a>
          {% else %}
            <a href="{{ url_for('supplier.all', bookmark=transactions['meta_data']['bookmark']) }}">
              <i class="material-icons">chevron_right</i>
            </a>
          {% endif %}
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
{% endblock %}

