{% extends 'base.html' %}
{% block content %}
  <div class="transactions">
      <h4>All cages 
        <span style="text-align:right">
          <a href="{{ url_for('create_cage') }}" class="btn-floating pulse btn waves-effect waves-light our-colour">
            <i class="right-align material-icons">add</i>
          </a>
        </span>
      </h4>
      <hr/>
      <!-- START TABLE -->
      <table class="striped">
        <thead>
          <tr>
              <th>ID</th>
              <th>Age</th>
              <th>Vaccination</th>
              <th>Trace</th>
              <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for arr in transactions['data'] %}
          <tr>
            <td>{{ arr['key'] }}</td>
            <td><a href="{{ url_for('changeage', cage_id=arr['key'])}}">{{ arr['data']['age'] }}</a></td>
            <td>{{ arr['data']['vaccination'] }}</td>
            <td><a href="{{ url_for('history', cage_id=arr['key'])}}">See history</a></td>
            <td><a href="{{ url_for('delete', cage_id=arr['key'])}}"><i class="material-icons md-30">&nbsp;delete</i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- END TABLE -->
    </div>

    <br />
    <ul class="pagination col center-align">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <!-- <li class="active"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li> -->
      {% if transactions['meta_data']['fetchedRecordsCount'] >= 10 %}
        <li class="waves-effect">
          <a href="{{ url_for('allcages_pagination', bookmark=transactions['meta_data']['bookmark']) }}">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>
    
{% endblock %}

