{% extends 'base.html' %}
{% block content %}
  <div class="transactions">
    <h4>Injection check up</h4>
    <hr/>
    <!-- START TABLE -->
    <table>
      <thead>
        <tr>
            <th>ID</th>
            <th>Age</th>
            <th>Vaccination</th>
            <th>Inject</th>
        </tr>
      </thead>
      <tbody>
        {% for arr in transactions %}
        <tr>
          <td>{{ arr['Key'] }}</td>
          <td>{{ arr['Record']['age'] }}</td>
          <td>{{ arr['Record']['vaccination'] }}</td>
          <td><a href="/inject/{{ arr['Key'] }}">Perform</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- END TABLE -->
  </div>
{% endblock %}

