{% extends 'base.html' %}
{% block content %}
  <div class="create">
    <div class="container">
      <div class="timeline">
        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ cage_id }}<i class="material-icons right">more_vert</i></span>
              <p>Age: <b>{{ transactions['age'] }}</b></p>
              <p>Vaccination: <b>{{ transactions['vaccination'] }}</b></p>
              <p>Step: <b>{{ transactions['step'] }}</b></p>
              {% if transactions['processing_plant'] %}
                <p>Status: <b>{{ transactions['processing_plant']['status'] }}</b></p>
                {% if transactions['processing_plant']['inspected'] %}
                  <p>Inspected: <b>{{ transactions['processing_plant']['inspected'] }}</b></p>
                {% endif %}
                {% if transactions['processing_plant']['deliverer'] %}
                  <p>Deliverer: <b>{{ transactions['processing_plant']['deliverer'] }}</b></p>
                {% endif %}
              {% endif %}
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Transaction ID<i class="material-icons right">close</i></span>
              {% if transactions['tx_id'] %}
                <p style="word-wrap: break-word;">{{ transactions['tx_id'] }}</p>
              {% endif %}
            </div>
          </div>
          <div class="timeline-badge blue white-text"><i class="material-icons">cached</i></div>
        </div>
        </div>
    </div>
    <hr/>
    <div class="row">
    <form class="col s12" action="{{ url_for('processing_plant', cage_id=cage_id) }}" method="POST">
        <div class="row">
          {% if transactions['step'] == 4 %}
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" name="deliverer" type="text" class="validate">
              <label for="icon_prefix">Driver number</label>
            </div>
          {% endif %}
        </div>
        {% if transactions['step'] == 3 %}
          <p>
            <label>
              <input type="checkbox" name="acceptable" value="true" class="filled-in" checked="true" />
              <span>Valid to consume</span>
            </label>
          </p>
        {% endif %}
        {% if transactions['step'] == 6 %}
          <input class="waves-light btn our-colour disabled" type="submit" value="Update" name="">
        {% else %}
          <input class="waves-light btn our-colour" type="submit" value="Update" name="">
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
