{% include 'header.html' %}
{% block content %}
    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
        $(document).ready(function() {
            M.updateTextFields();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <div class="row valign-wrapper" style="width:100%;height:100%;position: absolute;">
        <div class="col s12 l4 offset-m2 offset-l4">
            <div class="card">

                <div class="our-colour white-text center-align" style="padding: 5px;">
                    <h5>Registration form</h5>
                </div>
                <div class="row">
                    <form class="col s12" action="{{ url_for('register') }}" method="POST">
                        <div class="input-field col s12">
                            <input placeholder="Username" type="text" name="username">
                            <!-- <label class="active">Email</label> -->
                        </div><br>

                        <!-- <div class="input-field col s12">
                            <input placeholder="Password" type="password" id="password">
                        </div><br> -->

                        <div class="input-field col s12">
                            <select name="orgname">
                            <option value="" disabled selected>Please select one of them</option>
                            <option value="Org1">Grower farm</option>
                            <option value="Org2">Processing plant</option>
                            <option value="Org3">Delivery</option>
                            </select>
                            <!-- <label>Your organization</label> -->
                        </div>

                        <div class="input-field col s12">
                            <button class="our-colour btn-large waves-effect waves-dark" style="width:100%;">Register</button>
                        </div>
                    </form>
                    <div style="padding:0px 5px 15px 10px; margin-left:15px; font-size:16px;">Do you have an account? <a href="{{ url_for('login') }}">Yes, login</a></div>
                </div>
            </div>
        </div>
    </div>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div id="alter-box" class="materialert {{ category }}">
                <i class="material-icons">check</i> {{ message }}
                <!-- info_outline, check, warning, error_outline -->
                <button type="button" id="close-alert" class="close-alert">×</button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
      
{% endblock %}